<?xml version="1.0" encoding="utf-8"?>
<ProductConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ListQuery>SELECT * FROM Products</ListQuery>
  <NewQuery>INSERT INTO Products([ProductName], [QuantityPerUnit], [UnitPrice], [UnitsInStock]) VALUES (@ProductName, @QuantityPerUnit, @UnitPrice, @UnitsInStock)</NewQuery>
  <IndexKey>ProductID</IndexKey>
  <Fields>
    <MappingField>
      <Column>ProductID</Column>
      <Label>Product ID</Label>
      <Key>productID</Key>
      <Enabled>true</Enabled>
      <Display>true</Display>
      <Input>false</Input>
      <Order>1</Order>      
      <Type>Number</Type>
      <Indexed>false</Indexed>
    </MappingField>
    <MappingField>
      <Column>ProductName</Column>
      <Label>Product Name</Label>
      <Key>productName</Key>
      <Enabled>true</Enabled>
      <Display>true</Display>
      <Input>true</Input>
      <Order>2</Order>      
      <Type>Text</Type>
      <Indexed>true</Indexed>
    </MappingField>
    <MappingField>
      <Column>QuantityPerUnit</Column>
      <Label>Quantity Per Unit</Label>
      <Key>quantityPerUnit</Key>
      <Enabled>true</Enabled>
      <Display>true</Display>
      <Input>true</Input>
      <Order>3</Order>     
      <Type>Text</Type>
      <Indexed>true</Indexed>
    </MappingField>
    <MappingField>
      <Column>UnitPrice</Column>
      <Label>Unit Price</Label>
      <Key>unitPrice</Key>
      <Enabled>true</Enabled>
      <Display>true</Display>
      <Input>true</Input>
      <Order>4</Order>
      <Type>Currency</Type>
      <Indexed>false</Indexed>
    </MappingField>
    <MappingField>
      <Column>UnitsInStock</Column>
      <Label>Units In Stock</Label>
      <Key>unitsInStock</Key>
      <Enabled>true</Enabled>
      <Display>true</Display>
      <Input>true</Input>
      <Order>5</Order>     
      <Type>Number</Type>
      <Indexed>false</Indexed>
    </MappingField>
    <MappingField>
      <Column>UnitsOnOrder</Column>
      <Label>Units On Order</Label>
      <Key>unitsOnOrder</Key>
      <Enabled>false</Enabled>
      <Display>true</Display>
      <Input>true</Input>
      <Order>6</Order>
      <Type>Number</Type>
      <Indexed>false</Indexed>
    </MappingField>
  </Fields>
</ProductConfig>